
@import '../../../style/selectedTheme.scss';

.member{
	position: relative;
	display: flex;
	flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;

	background: $bg-accentuation;
	color: $text-accentuation;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);	
	padding: 10px;
	width: 100%;
	text-align: left;

	&-name, &-infos, &-infos-actions{
		display: inline-block;
	}
	&-infos-status, &-infos-status-icon, &-infos-actions{
		vertical-align: middle;
	}

	&-name{
		flex-grow: 1;

		h1{
			margin: 0;
			font-size: 1.5em;
		}
	}

	&-infos{
		flex-grow: 0;
		margin-left: 5px;

		&-status{
			display: inline-block;
			
			h2{
				font-weight: normal;
				margin: 0;
				font-size: 1em;
			}

			&-icon{
				display: inline-block;
				vertical-align: middle;
				width: 1em;
				height: 1em;
				margin: 0 5px;
			}
		}

		&-actions{
			display: inline-block;
			height: 1em;
			width: 1em;
			cursor: pointer;

			// Since this is a button, we remove the default styles
			border: none;
			background: none;
			color: inherit;
			margin: 0;
			padding: 0;
	
		}
	}
}